
<div class="user-wrapper">
  <%= render "user.show"%>
  <div class="user-main-content">
    <div class="user.profile-contents">
      <%= render "user.profile"%>
    </div>
    <div class="user.list-contents">
      <%= render "user.list"%>
    </div>
  </div>
</div>
