<footer>
	<div class="container">
    <div class="footer-wrapper">
			<div>
				<%= link_to 'ホーム', root_path, class:"list-path-btn"%>
				<%= link_to '投稿一覧',list_ideas_path, class:"list-path-btn" %>
			</div>
    </div>
		<div class="copyright">
			<p>© 2020-2021 - GenkiHiroshima</p>
		</div>
	</div>
</footer>
