<footer class="footer">
  <div class="footer-back">

  </div>
  <div class="footer-wrapper">
    <%= link_to 'ホーム', root_path, class:"list-path-btn"%>
    <%= link_to '投稿一覧',list_ideas_path, class:"list-path-btn" %>
    <%= link_to image_tag 'on.png', id:"page-top" %>
  </div>
</footer>

