<footer>
	<div id="button">footer</div>
	<div id="container">
    <div class="footer-wrapper">
      <%= link_to 'ホーム', root_path, class:"list-path-btn"%>
      <%= link_to '投稿一覧',list_ideas_path, class:"list-path-btn" %>
    </div>
	<div id="cont">
		<div class="copyright">
			<p>© 2020-2021 - GenkiHiroshima</p>
		</div>
	</div>
	</div>
</footer>
