
$cWhite: white;
$cBlack: black;
$cBlack2:rgba(#494949, 0.4);
$cUp:black;

.swiper-container{
  width: 100vw;
  height: 100vh;
}
/* 全体のスタイル */
.swiper-wrapper {
	height: 100%;
}
/* 全スライド共通スタイル */
.swiper-slide {
	color: $cWhite;
	width: 100%;
	height: 100%;
	text-align: center;
  line-height: 250px;
  & img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
.swiper-slide:nth-child(4n+1) {
  background-color: #EECB27;
}
/* 4の倍数＋2枚目のスライドのスタイル（2枚目、6枚目…） */
.swiper-slide:nth-child(4n+2) {
  background-color: #E13239;
}
/* 4の倍数＋3枚目のスライドのスタイル（3枚目、7枚目…） */
.swiper-slide:nth-child(4n+3) {
  background-color: #1F1762;
}
/* 4の倍数＋4枚目のスライドのスタイル（4枚目、8枚目…） */
.swiper-slide:nth-child(4n+4) {
  background-color: #BEDAE5;
}
.top-explanation-wrapper{
  position: relative;
  height: 100vh;
  .explanation-img{
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80%;
    width: 80%;
    object-fit: cover;
    z-index: 2;
    opacity: 0.3;
    border-radius:10px;
  }
    .top-explanation{
      position: absolute;
      top: 20vh;
      left: 0;
      width: 70vw;
      height: 400px;
      margin: 50px auto;
      position: relative;
      h1{
       font-size: 50px;
       color: $cBlack;
       text-align: center;
       padding: 30px;
       margin-bottom: 50px;
       z-index: 4;
      }

      p{
        font-size: 2.5vh;
        font-weight: 700;
        color: $cBlack;
        text-align: center;
        padding: 5px 30px;
        z-index: 4;
      }

    }
}

.top-content-wrapper{
  width: 100%;
  height: 80%;
  margin-top: 20vh;

  h2 {
    text-align: center;
    color: black;
    font-size: 6vh;
    font-weight: 700;
    margin-bottom: 10vh;
  }

  .top-content{

    width: 60%;
    height: 100%;
    margin: 0 auto 20vh;
    background-color: #ffcf4da8;
    border: double 5px #ffd103;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    padding: 30px 50px;
    .top-content-box{
      display: flex;
    }
    .first-idea-title{
      font-size: 5vh;
      color: black;
      font-weight: 600;
      text-align: center;
      margin-bottom: 2vh;
    }
    .top-content-left{
      & a{
        color: $cUp;
      }

      .idea-image{

        & img{
          height: 400px;
          width: 400px;
          object-fit: cover;
          border: 1px solid rgba( #4b4747,  0.6);
          border-radius: 10px;
        }
      }
    }

    .top-content-right{

      margin-left: 7vw;
      // padding-top:5vh ;

      .name-span{
        font-size: 2vh;
        text-align:left;
      }
      .user-name{
        font-size: 4vh;
        font-weight: 600;
        text-align: center;
        margin-bottom: 5vh;
        & a{
          color: $cUp;
        }
      }
      .user-producers{
        font-size: 4vh;
        & a{
          color: $cUp;
        }
      }
      .user-image{

        & img {
          height: 250px;
          width: 250px;
          object-fit: cover;
          border: 1px solid rgba( #4b4747,  0.6);

        }
      }
    }
  }

}


.cp_keyframes {
	margin: 0 auto;

	border-radius: 50%;
	position: relative;
	top: 0;
	width: 60px;
	height: 60px;
	-webkit-animation: keyframes 2s infinite;
	        animation: keyframes 2s infinite;
}
@-webkit-keyframes keyframes {
	0% {
		top: 100px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	}
	25% {
		top: 50px;
		height: 60px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	50% {
		top: 150px;
		height: 50px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	}
	75% {
		top: 50px;
		height: 60px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	100% {
		top: 100px;
	}
}
@keyframes keyframes {
	0% {
		top: 100px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	}
	25% {
		top: 50px;
		height: 60px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	50% {
		top: 150px;
		height: 50px;
		-webkit-animation-timing-function: ease-out;
		        animation-timing-function: ease-out;
	}
	75% {
		top: 50px;
		height: 60px;
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	100% {
		top: 100px;
	}
}


