
$cWhite: white;
$cBlack: black;



.swiper-container{
  width: 100vw;
  height: 80vh;
}
/* 全体のスタイル */
.swiper-wrapper {
	height: 100%;
}
/* 全スライド共通スタイル */
.swiper-slide {
	color: $cWhite;
	width: 100%;
	height: 100%;
	text-align: center;
  line-height: 250px;
  & img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
.swiper-slide:nth-child(4n+1) {
  background-color: #EECB27;
}
/* 4の倍数＋2枚目のスライドのスタイル（2枚目、6枚目…） */
.swiper-slide:nth-child(4n+2) {
  background-color: #E13239;
}
/* 4の倍数＋3枚目のスライドのスタイル（3枚目、7枚目…） */
.swiper-slide:nth-child(4n+3) {
  background-color: #1F1762;
}
/* 4の倍数＋4枚目のスライドのスタイル（4枚目、8枚目…） */
.swiper-slide:nth-child(4n+4) {
  background-color: #BEDAE5;
}


.top-explanation{

  width: 70vw;
  height: 400px;
  margin: 50px auto;

  & h1{
   font-size: 50px;
   color: $cBlack;
   text-align: center;
   padding: 30px;
  }

  & p{
    font-size: 20px;
    color: $cBlack;
    text-align: center;
    padding: 15px 30px;
  }
  & .p-title{
    font-size: 30px;
  }
}


.idea-contents{
  width: 70vw;
  margin: auto;
}

.idea-contents-title{
  text-align: center;
  margin: 100px 0;
  & h1{
    letter-spacing: 10px;
  }
}

.top-paginate {
  text-align: center;
}




