
$cWhite: white;
$cProfile:black;
$cBlack:black;

.user-wrapper {
  .top-user-wrapper{
    height: 50vh;
    width: 100vw;
    background-color: red;
    position: relative;
    .user-image{
      position: absolute;
      top: 10vh;
      left: 10vw;
      img{
        margin: 70px;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $cBlack;
        background-color: $cWhite;
      }
    }
    .user-name{
      position: absolute;
      top: 20vh;
      left: 30vw;
      background-color: white;
    }
    .user-position{
      position: absolute;
      top: 30vh;
      left: 30vw;
      background-color: white;
    }
  }
  .user-toolbar{
    height: 8vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    .tool-icon{
      
      height: 40px;
      width: 40px;
      object-fit: cover;
    }
    .user-main-content{
    width: 100vw;
    height: 100vh;
    background-color: chartreuse;
    }
  }
}






.user-post-list{
  height: 10vh;
  width: 80vw;
  margin: auto;
  h1{
    font-size: 30px;
    padding: 40px;
  }
  .user-post-wrapper{

  }
}


.user-idea-contents-lists {
  width: 70vw;
  margin: auto;
  align-items: center;
  display: flex;
  .post-lists {
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    .post-list{
      padding: 3vh 2vw;
    }

    li div{
      color: $cBlack;
    }
  }
  .idea-image img{
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

}
