
$cWhite: white;
$cBlack:black;

.user-wrapper {
  .top-user-wrapper{
    height: 50vh;
    width: 100vw;
    background-image: image-url('set4.png');
    background-size: cover;
    // background-color:rgba(#d5f3b36b, 0.4);
    position: relative;
    .user-image{
      position: absolute;
      top: 10vh;
      left: 10vw;
      img{
        margin: 70px;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $cBlack;
        background-color: $cWhite;
      }
    }
    .user-name{
      position: absolute;
      top: 20vh;
      left: 30vw;
      h1{
        font-size: 4vh;
      }
    }
    .follow-list-wrapper{
      position: absolute;
      top: 30vh;
      left: 31vw;
      font-weight: 700;
    }

  }
}

.tool-icon{

  height: 40px;
  width: 40px;
  object-fit: cover;
}

.user-profile-wrapper{
  width: 100%;
  padding: 10vh 0;
  background-color: wheat;
  .user-content{
    margin: 0 0 0 10vw ;

    h2 {
      font-size: 5vh;
      color: $cBlack;
      margin-top: 0;
      margin-right: 27vh;
      margin-bottom: 4vh;
    }
    .user-box{
      display: flex;

      ul {
        height: 45vh;
        width: 40vw;
        .ubl-s{
          margin-bottom: 2vh;
        }
        li{
          display: flex;
          font-size: 2.5vh;
          .user-box-title{
            margin-bottom: 5vh;
            border-bottom: 1px solid black;
            margin-right: 1vw;
          }
          .user-box-txt{
            width: 20vw;
          }
        }
      }
      .user-box-right{
        .user-pf{
          font-size: 3vh;
          font-weight: 700;
        }
        .user-profile-txt{
          border: 1px solid black;
          border-radius:5px;
          font-size: 2vh;
          height: 40vh;
          width: 40vw;
        }
      }
    }
  }
}

.user-idea-wrapper{
  background-color: wheat;
  width: 100%;


  .user-idea-main{
    h1{
      padding:50px;
      margin: 0;
      font-size: 4vh;
    }
  }
  .user-idea-content-wrapper{

    width: 100%;

    .user-idea-content{
      height: 100%;
      width: 70%;
      margin: auto;

      .user-idea-lists{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .user-idea-list{
          text-align: center;
          .user-idea-title{
            font-size: 4.3vh;
            color: $cBlack;
            margin: 10vh 0 5vh 0;
            text-decoration: none;
          }
          img{
            height: 400px;
            width: 400px;
            object-fit: cover;

          }
          .user-idea-text{
            margin-top: 5vh;
            margin-bottom: 10vh;
            font-size: 2vh;
            color: $cBlack;
          }
        }
      }
    }
  }
}
// .user-show-display {

//   footer{
//     display: none;
//   }

// }

.tab-area {
  display: flex;


  background-color: rgb(248, 188, 77);
  cursor: pointer;
  .tab {
    width: 300px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-size: 2.5vh;
    padding-top: 15px;
    font-weight: 700;
    border-right: 1px solid #50637b;
    border-left: 1px solid #222e3e;
  }
  .left-tab{
    margin-left: 8vw;
  }
  .tab.active {
    background-color: wheat;
    color: #222e3e;
    border: none;
  }
}
.content-area {
  font-size: 30px;

  .content {
    display: none;
  }
  .content.show {

    display: block;
  }
}

.user-edit-icon{
  margin-left: 37vw;
  #acMenu{
    margin: 0;
  }
  #acMenu dt{
    display:block;
    width:200px;
    height: 60px;
    line-height:50px;
    text-align:center;
    border-right: 1px solid #50637b;
    border-left: 1px solid #50637b;
    border-bottom: none;
    cursor:pointer;
    }
    #acMenu dd{
    position: absolute;
    background:#f2f2f2;
    width:200px;

    line-height:50px;
    text-align:center;
    border-right: 1px solid #50637b;
    border-left: 1px solid #50637b;
    display:none;
    }
}
