
$cWhite: white;
$cBlack:black;

.user-wrapper {
  .top-user-wrapper{
    height: 50vh;
    width: 100vw;
    background-color:rgba(#8181816b, 0.4);
    position: relative;
    .user-image{
      position: absolute;
      top: 10vh;
      left: 10vw;
      img{
        margin: 70px;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $cBlack;
        background-color: $cWhite;
      }
    }
    .user-name{
      position: absolute;
      top: 20vh;
      left: 30vw;
      h1{
        font-size: 4vh;
      }
    }
    .follow-list-wrapper{
      position: absolute;
      top: 30vh;
      left: 31vw;

    }

  }
  .user-toolbar{
    height: 8vh;
    width: 100vw;
    background-color:rgba(#999999, 1.0);
    display: flex;
    .tool-icon{

      height: 40px;
      width: 40px;
      object-fit: cover;
    }
    .user-main-content{
    width: 100vw;
    height: 100vh;
    background-color: chartreuse;

    }
  }
}

.user-show-wrapper{
  width: 100%;
  .user-content{
    margin: 5vh 0 0 10vw ;

    h2 {
      font-size: 5vh;
      color: $cBlack;
      margin-bottom: 3vh;
    }
    .user-box{
      display: flex;

      ul {
        height: 45vh;
        width: 40vw;
        .ubl-s{
          margin-bottom: 2vh;
        }
        li{
          display: flex;
          font-size: 2.5vh;
          .user-box-title{
            margin-bottom: 5vh;
            border-bottom: 1px solid black;
            margin-right: 1vw;
          }
          .user-box-txt{
            width: 20vw;
          }
        }
      }
      .user-box-right{
        .user-pf{
          font-size: 3vh;
          font-weight: 700;
        }
        .user-profile-txt{
          border: 1px solid black;
          border-radius:5px;
          font-size: 2vh;
          height: 40vh;
          width: 40vw;
        }
      }
    }
  }
}

.user-idea-wrapper{

  width: 100%;

  .user-idea-main{
    h1{
      margin: 20vh 0 5vh 0;
      font-size: 4vh;
    }
  }
  .user-idea-content-wrapper{

    width: 100%;

    .user-idea-content{
      height: 100%;
      width: 70%;
      margin: auto;

      .user-idea-lists{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .user-idea-list{

          width: 400px;
          .user-idea-title{
            font-size: 4.3vh;
            color: $cBlack;
            margin: 10vh 0 5vh 0;
            text-decoration: none;
          }
          img{
            height: 400px;
            width: 400px;
            object-fit: cover;
          }
          .user-idea-text{
            margin-top: 5vh;
            margin-bottom: 10vh;
            font-size: 2vh;
            color: $cBlack;
          }
        }
      }
    }
  }
}




